beautifulsoup4==4.10
Markdown==3.3
jinja2==3.1
genanki~=0.13
pytest~=7.0
setuptools~=57.4
toml==0.10
inflection==0.5
pygments==2.13
rich==12.6
pdfkit==1.0.0
python-markdown-math==0.8
pymdown-extensions==9.8