# Configuration for the manki converter that converts Markdown documents to Anki packages
[processor.randomquestions]
questions = [
  [
    "Sind dir in diesem Deck Fehler aufgefallen?",
    "Falls Dir Fehler auffallen, melde Dich gerne bei uns unter <a href=\"mailto:i-am-spam@gmx.de\">dieser Email Adresse</a>.",
  ],
  [
    "Na? Wie läuft das Lernen?",
    "Wir hoffen gut...Vielleicht gefällt Dir das Deck ja auch so gut, dass Du uns im Gegenzug auf einen <a href=\"https://www.buymeacoffee.com/lrtmaster\">Kaffee oder ein Bier</a> einlädst? Wir würden uns freuen.    Frohes Lernen!",
  ],
]
start_after = 2
